@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}


.right-container {
    width: 100%;

    padding-top: 10%;
}

.row-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.l-text {



    margin-left: 4%;
    height: 25%;


}

.l-text h2 {
    font-size: 48px;

    padding-right: 5%;
    text-align: center;
}

.l-text h4 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 10%;
    padding-left: 10%;
}

.l-text p {
    font-size: 15px;
    padding-top: 5%;
    padding-left: 10%;
    line-height: 32px;
    text-align: left;
}

.l-text h2 span {
    color: #01B4AC;
}

.l-text h4 span {
    color: #01B4AC;
}

.r-img {


    padding: 0 10px;
}

.r-img img {
    max-width: 100%;
}

.btn {
    margin-top: 10%;

}

.l-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 30px;
    background: #01B4AC;
    color: black;
    border-radius: 4px;
    transition: ease .40s;
}

.l-btn:hover {
    background: #05e3d8;
    color: whitesmoke;
    transform: scale(1.1);
}

/******************* hero section */
.hero-container {
    width: 100%;
    background-color: #F9FAFC;
}

.hero-text h2 {
    padding-top: 5%;
    font-size: 20px;
    line-height: 1.2;
    color: black;

    margin-bottom: 20px;
    text-align: center;

}

.hero-text p {
    font-size: 12px;
    line-height: 3;
    color: black;


    margin-bottom: 20px;
    text-align: center;

}

.hero-cards {
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    padding-bottom: 5%;
    margin: 0% 25%;
    gap: 15px;
}

.hero-img img {

    width: 100%;
    object-fit: cover;
    height: 100%;
}

.card-text p {

    font-size: 14px;
    color: black;

    padding: 5px 0;



}

.card-text h5 {

    font-size: 14px;
    color: black;
    padding-top: 15%;


}



.hero-card {
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}




/*************************** social section */
.img-sub {
    position: relative;

}

.img-sub img {
    max-width: 100%;
}

.row-item {
    background-color: #F9FAFC;
    position: absolute;
    z-index: 1000;
    display: flex;
    width: 70%;
    margin: 05% 15%;
    padding: 20px 20px;
}

.row-text,
.form {
    width: 50%;
}

.row-text h3 {
    font-size: 20px;

}

.row-text p {
    font-size: 14px;

}

.form {
    display: flex;
    flex-direction: row;
}

.form input,
button {
    height: 6vh;
}

.form input {
    background-color: #ecf0f6;
    border: none;
    border-radius: 5px;
}

button {
    color: whitesmoke;
    background-color: #DB4A87;
    border: #DB4A87;
    padding: 0 20px;
    border-radius: 5px;
}

#sub::placeholder {
    text-align: center;

}

#sub {
    width: 68%;
}

.form label {
    font-size: 14px;
    padding-top: 3%;
}

.check {
    display: inline-flex;
}

@media (max-width: 668px) {
    .hero-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-text h5 {
        padding-top: 5%;
    }

    .row-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .l-text h2 {
        font-size: 1em;
        margin-top: 20%;

    }

    .l-btn {
        padding: 10px 15px;
    }

    .l-text h4 {
        font-size: 1.5em;
    }

    .l-text p {
        font-size: 9px;
    }

    .hero-text h2 {
        font-size: 1em;
    }

    .hero-text p {
        font-size: 9px;
    }

    .row-item {
        flex-direction: column;
        padding: 0;
        margin: 2% 15%;
    }

    .row-text,
    .form {
        width: 100%;
    }

    .row-text h3 {
        font-size: 9px;
    }

    .row-text p {
        font-size: 7px;

    }

    .form {

        flex-direction: column;
    }

    .form input,
    button {
        height: 3vh;
        font-size: 7px;
    }

    .form label {
        font-size: 7px;
        padding-top: 2%;
    }

}