@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins';
}

header {
	font-size: 14px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	transition: ease .40s;
	background-color: white;
}

nav {

	color: rgb(0, 0, 0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.logo {
	padding-left: 10%;

}

.logo span {
	font-size: 20px;
}

.logo img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.menu {
	padding-right: 15%;
}

.user {
	padding-right: 10%;
}

.menu,
.user {
	list-style: none;
	display: flex;

}

.menu li,
.user li {
	margin: 0 10px;
}

.menu li a,
.user li a {
	color: black;
	text-decoration: none;
}

.menu li a:hover,
.user li a:hover {
	color: #58b4ae;
}

.list-item {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.list-item a {
	color: #58b4ae;
	font-size: 14px;
}

.list-item .line {
	margin-left: 5px;
}

/********************** home section ************************/
.home {
	position: relative;
	width: 100%;
	
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;

}

.imghome {
	max-width: 100%;
	padding-left: 25%;
}

.home-text {
	margin-top: 10%;
}

.home-text h1 {
	font-size: 20px;
	line-height: 1.2;
	color: black;
	letter-spacing: 4px;
	margin-bottom: 20px;
	text-align: center;
	width: 50%;
	padding-left: 25%;
}

.home-text p {
	font-size: 12px;
	line-height: 1.2;
	color: black;
	margin-bottom: 20px;
	text-align: center;
	width: 50%;
	padding-left: 25%;
}

.btn {
	text-align: center;
}

.home-btn {
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	padding: 15px 30px;
	background: #05845cbf;
	color: black;
	border-radius: 4px;
	transition: ease .40s;
}

.home-btn:hover {
	background: #10d093bf;
	color: whitesmoke;
	transform: scale(1.1);
}

/************************************* blog section */

.blog-container {
	width: 100%;
	background-color: #FFF5ED;
}

.blog-text h2 {
	padding-top: 5%;
	font-size: 20px;
	line-height: 1.2;
	color: black;
	margin-bottom: 20px;
	text-align: center;
	width: 50%;
	padding-left: 25%;
}

.blog-text p {
	font-size: 15px;
	line-height: 3;
	color: black;
	margin-bottom: 20px;
	text-align: center;
	width: 50%;
	padding-left: 25%;
}


.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 70%;
	gap: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5%;
	margin: 5% 25%;
	max-height: 70%;
}



.card-text h3 {
	font-size: 12px;
}

.bg-p {
	padding: 5% 0;
	margin-bottom: 5%;
	text-align: center;
	background-color: #F4EBE4;
	font-size: 12px;

}

.card-img {
	position: relative;
	width: 100%;
}

.card-img img {
	max-width: 100%;
}

.card-text p {
	color: black;
	font-size: 10px;
}

.card-img h6 {
	position: absolute;
	z-index: 1000;
	color: white;
	font-size: 10px;
	font-weight: bolder;
	text-align: center;
	padding-top: 35%;


}

#p-img {
	padding-top: 10%;
}

/************************** Customer quotes */
.quote-title span {
	color: #F5AA24;

}

.quote-title h2 {
	text-align: center;
}

.quotes {
	width: 100%;
	box-sizing: border-box;
}

.row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

}

.text {

	box-sizing: border-box;
	padding-right: 5%;
	background-color: rgb(255, 245, 237);
	height: 25%;
	margin-top: 8%;
	margin-left: 4%;
}

.text span {
	font-size: 10px;

}


.q-img {

	box-sizing: border-box;
	padding: 0 10px;
}

.q-img img {
	width: 100%;
}

/*********************** footer */

.footer {
	background-color: white;
	color: black;
	padding: 5%;
	font-size: 12px;

}

.footer-content {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding-left: 15%;
}

.footer-section {
	margin-bottom: 20px;
}

.logo-f {
	display: flex;
}

.footer-section h3 {
	font-size: 14px;
	padding-bottom: 15px;
}

.footer-section p {
	font-size: 12px;

}

.footer-section img {
	width: 20px;
	height: 20px;
	padding-right: 5%;

}

.footer-section ul {
	list-style: none;
	padding: 0;
}

.footer-section ul li {
	margin-bottom: 8px;
}

.footer a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition: 0.3s;
}

.footer a:hover {
	color: #58b4ae;
}

.social {
	display: flex;
	flex-direction: column;
}

.social a {

	height: 20px;
	width: 20px;
	display: inline-flex;
	border-radius: 15px;
	margin-bottom: 8px;
}

.social img {
	padding-right: 5px;
}

@media screen and (max-width: 712px) {
	.row {
		display: grid;
		grid-template-columns: repeat(1, 1fr);

	}

	.footer-content {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}


}

@media (max-width: 712px) {

	.imghome img {
		max-width: 100%;
		
	}
	.home-text{
		padding-top: 10%;
	}
	.home-text h1 {
		font-size: 14px;
		padding-top: 10%;
		width: 90%;
		padding-left: 5%;
	}

	.home-text p {
		font-size: 12px;
		width: 90%;
		padding-left: 5%;
	}

	.home-btn {
		font-size: 12px;
		padding: 10px 20px;
	}
	.blog-text h2{
		font-size: 12px;
	}
	.blog-text p{
		font-size: 10px;
	}
	.cards{
		grid-template-columns: repeat(1,1fr);
	}
	.text{
		font-size: 10px;
		height: 100%;
		margin-right: 4%;
	}
	.text span{
		font-size: 7px;
	}

}