@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

body {
    background-color: rgb(255, 255, 255);
}

.l-text h3 span {
    color: #4D7BFF;
}

.l-text h3 {
    font-size: 48px;
    margin-top: 8%;
    padding-right: 5%;
    text-align: center;
}

/****************************questions section */
.quetions {
    background: url(../img/bg-support.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 15%;
}

.support-title {
    display: flex;
    justify-content: center;
}

.support-title img {
    width: 40px;
    height: 40px;
}

.quetions-text {
    display: flex;
}

.quetions-text img {
    width: 40px;
    height: 40px;
}

.support-title h4 {
    padding-top: 5%;
    padding-bottom: 15%;
    font-size: 26px;
}


.support-title h4 span {
    color: #FFA419;
}
.quetions-text p {
    padding-bottom: 45px;
  padding-top: 5px;
  padding-left: 25px;
    
}