@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'sans serif';
    box-sizing: border-box;
    list-style: none;


}

a {
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
}

.l-text h3 span {
    color: #4D7BFF;
}

.l-text h3 {
    font-size: 48px;
    margin-top: 8%;
    padding-right: 5%;
    text-align: center;
}

/****************************questions section */
.quetions {
    background: url(../img/bg-support.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

/* DropDowns */
.quetions-container {
    display: flex;
    flex-direction: column;


}

.faq {
    max-width: 50%;
    margin: auto;
    border-bottom: 2px solid #cd6906;
    cursor: pointer;
}

.question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.question h3 {
    font-size: 16px;
    padding: 5% 0;
}

.answer p {
    line-height: 1.6;
    font-size: 15px;
}


.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.faq.active .answer {
    max-height: 300px;
}

.faq.active img {
    transform: rotate(180deg);
}

.question img {
    transition: transform 0.5s ease-in;
}

/* End DropDowns */

.support-title {
    display: flex;
    justify-content: center;
}

.support-title img {
    width: 40px;
    height: 40px;
}



.support-title h4 {
    padding-bottom: 5%;
    font-size: 26px;
}


.support-title h4 span {
    color: #FFA419;
}



/* form */
.row {
    display: flex;
    width: 100%;
}

.contact-form {
    width: 50%;
    padding: 5%;
}

.contact-image {
    width: 50%;
}

.contactUs-text h3 {
    text-align: center;
    color: #516EFE;
    font-size: 26px;
    padding-bottom: 5px;
}

.contactUs-text p {
    text-align: center;
    font-size: 14px;
    padding-bottom: 5%;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    gap: 10%;
}

.form-group input {

    font-size: 1em;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(199, 199, 199, 0.5);
}

.form-group textarea {
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(199, 199, 199, 0.5);
    height: 150px;
}

.form-group label {
    color: #000000;
    text-align: left;
    width: 25%;
}




.contact-image img {
    max-width: 100%;
    padding-top: 15%;
}

.contactUs-btn {
    font-size: 16px;
    margin-left: 40%;
    padding: 15px 20%;
    background: #4D7BFF;
    color: whitesmoke;
    border-radius: 10px;
    transition: ease .40s;
    cursor: pointer;

}

.contactUs-btn:hover {
    color: whitesmoke;
    background: #86a7ff;
    transform: scale(1.1);
}

.form-group span {
    display: none;
    color: red;
    font-size: 12px;
}

.error {
    display: flex;
    flex-direction: column;
}

/*end form */

@media (max-width: 668px) {
    .quetions {
        background: url(../img/bg-support.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 15%;
    }

    .l-text h3 {
        font-size: 24px;
        padding-top: 15%;
    }

    .support-title h4 {
        font-size: 14px;
    }

    .support-title img,
    .quetions-text img {
        width: 20px;
        height: 20px;
    }

    .quetions-text p {
        padding-bottom: 24px;
        padding-left: 17px;
        font-size: 12px;
    }

    .row {
        flex-direction: column;
                padding: 0 auto;

    }

    .contact-image img {
        width: 100%;
    }

    .contactUs-text h3 {

        font-size: 20px;
    }

    .contactUs-text p {
        font-size: 12px;
    }

    .form-group {
        flex-direction: column;
    }
    .question h3{
        font-size: 12px;
        padding:10% 0;
    }

    .contact-form {
        
        width: 100%;
    }

    .contactUs-btn {
        width: 100%;
        margin-left: 0;
        text-align: center;

    }

    .contact-image {
        display: none;
    }

}